data/simple-solutions.txt
data/simple1/
data/power-solutions.txt
data/power1/
data/concat-solutions.txt
data/concat1/
data/decimal-solutions.txt
data/decimal1/
data/factorial-solutions.txt
data/factorial1/
data/functions-solutions.txt
data/functions1/
TAGS
*.sh
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
.#*
\#*\#
foo.js
foo
TAGS
test/cli/data/testData
.build/commit.log
lib/schema.js
package-lock.json
mail*
test_space*
